.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image{
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  border: 3px solid black;
  
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor:pointer;
  user-select: none;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor:pointer;
  user-select: none;
}

.slide{
  transition:linear;
  opacity: 0;
  transition-duration: 1s ease; 
}

.slide.active{
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}
body{
  background-color: black;
}






